body {
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    /*background-color: #f8f8f8;*/
}
body, button {
    font-family: roboto;
}
div.hsplit:after {
content: "";
clear: both;
display: table;
}

div.hsplit > div {
	float: left;
}

.email_contact_input{
	padding:15px 10px;border: none; 
	outline: none;
	border-radius: 10px; 
	width:420px; color:#333; 
	max-width: 100%; 
	background-color: rgb(245,245,246); 
}
.email_contact_input:hover{
	box-shadow: 1px 1px 2px 1px #ddd;
}

.password_contact_input{
	 padding:15px 10px;
	border: none; 
	outline: none; 
	border-radius: 10px; 
	width:380px; color:#333; 
	max-width: 100%; 
	background-color: rgb(245,245,246); 
}
.password_div{
	width:438px; 
	display: inline-block; 
	text-align: left; 
	background-color: rgb(245,245,246);
	border-radius: 10px;
}
.password_div:hover{
	box-shadow: 1px 1px 2px 1px #ddd;
}

.page_title {
	font-size: 17px; 
	font-weight: 700; 
	padding:20px 0px;
	color:#3a7f48;
}
button:disabled {
  background: #ddd;
}
.profile_details_div{
	outline: none; 
	border-radius: 5px; 
	color:#333; 
}
.main_div {
}

@media (min-width: 992px) {
	.main_div {
		/*margin-left: 170px;*/
		background-color: rgb(245,245,246);
		height: calc(100vh - 55px);
	}
}
.extra_style{
	font-size: 15px;text-align: left;
}
.login_heading{
	font-size: 18px; 
	font-weight: 600; 
	color:#444; 
	margin-top: 26px; 
	letter-spacing: 2px; 
	margin-bottom: 25px;
}
.email_input_layout{
	padding-top: 5px; 
	padding-bottom: 5px;
}
.fs14{
	font-size: 14px;
}
.forgot_password{
	font-size:14px; 
	padding-right: 5px;
	text-decoration: underline;
	margin-top: 2px; cursor: pointer;
}
.password_input_layout{
	padding-top: 7px; padding-bottom: 7px;
}
.password_show{
	font-size: 18px; 
	color: #888; 
	vertical-align: middle; 
	cursor: pointer;
}
.email_contact_input{
	padding:15px 10px;border: none; 
	outline: none; 
	border-radius: 10px; 
	width:420px; color:#333; 
	max-width: 100%; 
	background-color: rgb(245,245,246); 
}

.email_contact_input:hover{
	box-shadow: 1px 1px 2px 1px #ddd;
}

.password_contact_input{
	 padding:15px 10px;
	border: none; 
	outline: none; border-radius: 10px; width:380px; color:#333; 
	max-width: 100%; background-color: rgb(245,245,246); 
}

.password_div{
	width:438px; display: inline-block; 
	text-align: left; 
	background-color: rgb(245,245,246);
	border-radius: 10px;
}

.password_div:hover{
	box-shadow: 1px 1px 2px 1px #ddd;
}
.dummy_person_img_div{
	margin-left: 8px;
	margin-top:5px;
	margin-right:7px; 
	border-radius: 20px;  
	/*float: right;*/
	/*height: 35px; width: 35px; border-radius: 50%;text-align: center; overflow: hidden*/
}
.dummy_person_img{
	height: 35px; 
	width: 35px; 
	border-radius: 50%; t
	text-align: center; 
	overflow: hidden; 
}
.mt13{
	margin-top:13px; 
}
.search-icon{
	font-weight:300; 
	color:#666;
	cursor:pointer; 
}
.person_icon{
	height: 100%; 
	vertical-align: middle;
}
.big_div{
	margin: auto;
	margin-bottom: 100px;
	box-sizing: border-box;
}
.mt5{
	margin-top: 5px;
}
.mb5{
	margin-bottom: 5px;
}
.card{	
	margin:  auto;
	height: 390px;
	overflow: hidden;
	cursor: pointer;
	border:solid #ccc 1px; 
	box-sizing: border-box;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0);
	color:#333;
	border-radius: 8px;
	background-color:#fff;
	padding: 10px;
	width:350px;
	margin-bottom:25px;
}
.menu_icon{
	color:#666; cursor: pointer;
}
.card:hover {
	box-shadow: 2px 3px 5px #888888;
	/*border: #888888;*/
}

.box_sizing{
	box-sizing: border-box;
}
.image_div{
	height: 250px; text-align: center; overflow: hidden; vertical-align: middle; white-space: nowrap;
}
.ml{
	margin-left:  8px;
}
.pl90{
	padding-left: 90px;
}
/*.image_span{
vertical-align: middle;height: 100%; display: inline-block;visibility: hidden;
}*/
.image{
	max-height: 250px; max-width: 100%; vertical-align: middle
}
.mt20{
	margin-top: 20px;
}
.pl10{
	padding-left: 10px;
}
.mt8{
	margin-top: 8px;
}
.mt10{
	margin-top: 10px;
}
.error_img_div{
	margin-top:100px; 
	margin-left: 80px;
}
.single_product_img_div{
	text-align: center; 
	padding: 40px 50px;

}
.single_product_details_div{
	box-sizing: border-box; 
	padding: 40px 30px;
}
.single_product_title{
	padding: 10px 0px; 
	font-size: 22px;
}
.fw600{
	font-weight: 600;
}
.rating_count{
	color:#333; 
	padding:15px 1px
}
.img_height{
	height: 300px;
}
.error_img{
	max-height:400px; 
	max-width: 80%;
}
.title{
	color: #333; 
	font-weight:700;
}
.padding10_0{
	padding: 10px 0px;
}
.description{
	 padding:10px 0px; 
	 word-spacing:3px; 
	 line-height:25px;
}
.fs15{
	font-size: 15px;
}
.rupee{
	font-size: 15px; 
	font-weight: 600; 
	color:#333; 
	margin: auto;
	/*margin-top: 8px;*/
}
.mt15{
	margin-top: 20px;
}
.add_remove_comman_div {
	/*border:solid black 1px; */
	color:black; 
	font-size: 18px;
	text-align: center;
}
.products_rate{
	/*border:solid red 1px; */
	font-weight:600; 
	float:right;margin-bottom: 10px;
	background-color: #3a7f48; 
	border-radius:15px; 
	padding:1px 5px;
	color: #fff;
}
.fs12{
	font-size: 12px;
}
.mb10{
	margin-bottom: 10px;
}
.fs13{
	font-size:13px
}
.select_dropdown{
	outline: none; 
	border-radius: 2px;
	background-color: #3a7f48;; 
	padding:5px; 
	cursor: pointer; 
	font-size: 13px;
	color:#fff; 
	border:solid rgb(10, 102, 194) 1px;
}
.select_dropdown_div{
	margin-top:15px; 
	margin-bottom: 10px; 
	margin-right: 23px;
	float: right;
}
.select_options{
	cursor: pointer;
	background-color: #fff; 
	color:#222;
}
.p10{
	padding:10px;
}



