  <div class="p10" style="" ng-controller="login_ctrl" >
    <div style="text-align: center;margin-top: 150px;">
      <div class="login_heading" > 
        Welcome, Please login in.
      </div>
      <div class="email_input_layout">
        <input type="text" placeholder="Email" style="" class="email_contact_input" ng-model="username">
      </div>
      <div class="password_input_layout" >
        <div class="password_div">
          <input type="{{show_password_icon ? 'text' : 'password'}}" placeholder="Password" style="" class="password_contact_input" ng-model="password">
          <span class="material-icons password_show" style="" ng-click='password_hide_or_show()'>
            {{ show_password_icon ?  "visibility" : "visibility_off" }}
          </span>
        </div>
      </div>
      <div style="padding-top: 15px; padding-bottom: 15px; width:438px;display: inline-block;">
          <div class="hsplit" >
            <div class="fs14" >
              <input type="checkbox" name="" style="margin-right: 10px;cursor: pointer; "> Remember me
            </div>
            <div class="forgot_password" style="float: right;">
                Forgot Password
            </div>
          </div>
      </div>
      <div style="padding-top: 10px; padding-bottom: 5px;">
        <img src="https://i.gifer.com/ZZ5H.gif" style="width:15px; color:blue;margin: 2px;vertical-align: middle; " ng-if="is_login_disabled==true">
        <button style="" class="login_button reable_background_color" ng-click=login() ng-disabled="is_login_disabled">Log in</button>
      </div>
  </div>
</div>
